<div class="container">
  <div class="row">
    <% @spots.each do |spot| %>
      <% if spot.status == "available" %>
    <div class="col-lg-2 available">
      <div class="box">
        <h5><%= spot.name %></h5>
        <button type="button" class="btn btn-success">Available!</button>
      </div>
    </div>
      <% else %>
    <div class="col-lg-2 reserved">
    <div class="box"><h5><%= spot.name %></h5>

      <button type="button" class="btn btn-danger">Not available</button>
    </div>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
